body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #4CAF50; /* Verde */
    color: #333; /* Color de texto principal */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    background-color: hwb(#00FF7F); /* Fondo verde para el contenido */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333; /* Color de título */
}